<?xml version="1.0"?>
<config>
    <modules>
        <Devils_Upc>
            <version>0.1.0</version>
        </Devils_Upc>
    </modules>
    <global>
        <blocks>
            <devils_upc>
                <class>Devils_Upc_Block</class>
            </devils_upc>
        </blocks>
        <models>
            <devils_upc>
                <class>Devils_Upc_Model</class>
            </devils_upc>
        </models>
        <helpers>
            <devils_upc>
                <class>Devils_Upc_Helper</class>
            </devils_upc>
        </helpers>
        <resources>
            <devils_upc_setup>
                <setup>
                    <module>Devils_Upc</module>
                </setup>
            </devils_upc_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <devils_upc>
                <use>standard</use>
                <args>
                    <module>Devils_Upc</module>
                    <frontName>upc</frontName>
                </args>
            </devils_upc>
        </routers>
    </frontend>
    <default>
        <payment>
            <devils_upc>
                <active>1</active>
                <title>Visa / MasterCard</title>
            </devils_upc>
        </payment>
    </default>
</config>